* {
  font-family: "Erica One", cursive, "Josefin Sans", sans-serif;
}
html {
  background-color: rgb(245, 195, 58);
  color: white;
}
.H {
  font-size: 2vw;
  margin: 2%;
}
.H b {
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.H b:hover {
  color: #000;
}
.fa-solid {
  color: #fff;
  font-size: 100%;
  padding: 2.5%;
  transition: all 0.5s;
}
.fa-solid b {
  text-decoration: none;
  color: #fff;
}
.fa-house:hover {
  color: #000;
}
